h1{padding: 10px 10px 10px 100px;
margin: 0px 750px 0px 750px;
    display: flex;
    justify-content: center;}
img{padding: 10px 10px 10px 100px;
margin: 10px 500px;}
h2{padding: 10px 10px 10px 100px;
margin: 0px 750px 0px 790px;
background-color: blue;}
div{
background-color: aqua;
padding: 10px 10px 10px 100px;
margin: 0px 750px 0px 790px;}
div:hover {
    background-color: brown;
    text-decoration: underline overline;}
    input[type=checkbox]:checked  + label{
        text-decoration: line-through;
     }